$color1: #00d1b2;
$color2: #23d160;
$color3: #ffdd57;
$color4: #ff3860;
$color5: dodgerblue;
$color: #000000;
$font-color: #ffffff;


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
a {
    text-decoration: none;
    color: $color3;
    transition: all .5s ease-in-out;
    &:hover {
        color: $color3;
        font-size: 1em;
        text-decoration: none;
    }
}
.section {
    color: $font-color;
    padding: 50px 0;
    @media only screen and (min-width: 768px) {
        height: 100vh;
    }
    border: 1px outset white;
    &:nth-of-type(2) {
        background-color: $color5;
    }
    &:nth-of-type(3) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-transform: uppercase;
        font-stretch: extra-expanded;
        @media only screen and (max-width: 480px) {
            background: $color;  
            justify-content: space-around;  
        }
    }
    &:nth-of-type(4) {
         background-color: darken($color1, 10%);
    }
    &:nth-of-type(5) {
        background: linear-gradient(70deg, #f30522, #650bae);
        background-size: 400% 400%;
        animation: BackgroundAnimation 20s ease infinite;

        @keyframes BackgroundAnimation { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
    }
}
.vertical-nav {
    position: fixed;
    left: 95%;
    top: 45%;
    @media only screen and (max-width: 480px) {
        display: none;
    }
    .nav-btn {
        width: 6vh;
        height: 6vh;
        cursor: pointer;
        background: url('../images/icon-arrow.svg') no-repeat;
        background-position: center;
        margin: 10px auto;
    }
    .nav-btn:first-of-type {
       transform: rotate(180deg);   
    }
}
.title {
    font-weight: 100;
    line-height: 1.2;
}
ul {
    list-style: none;
}
#poster {
    background: #000000 url('../images/yellow.jpg') no-repeat center;
    background-size: contain;
    height: 100vh;
}
#about {
    .container .row .map{
        height: 70vh;
        iframe {
            pointer-events: none;
        }
    }
    p {
        font-size: large;
    }
    @media only screen and (min-width: 680px) {
        .desc:first-of-type {
            margin-top: 10%;
        }
    }
    i {
        font-size: medium;
    }
    .desc {
        margin-top: 10%;
    }
    .desc {
        text-align: justify;
    }
}
#stats {

  .countstats {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 2em;
      @media only screen and (max-width: 480px) {
        font-size: 1.5em;
      }
      text-transform: uppercase;
  }

  iframe {
      padding: 10px 0;
  }

  .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }

    .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (min-aspect-ratio: 16/9) {
        .fullscreen-bg__video {
            height: 300%;
            top: -100%;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        .fullscreen-bg__video {
            width: 300%;
            left: -100%;
        }
    }

    @media (max-width: 767px) {
        .fullscreen-bg {
            background: url('../img/logo.jpg') center center / cover no-repeat;
        }

        .fullscreen-bg__video {
            display: none;
        }
    }
}

#sponsors {
    img {
        width: 100%;
        height: 30vh;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: all 0.3s ease-in-out;
    }
    img:after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        transition: opacity 0.3s ease-in-out;
    }
    img:hover {
        transform: scale(1.06);
    }
    img:hover:after {
        opacity: 1;
    }
    .row {
        padding: 20px;
    }
    a {
        color: $font-color;
    }
}
#connect {
    height: 100vh;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        margin: 50px auto;
    }
    #logo {
        width: 200px;
    }
    .social-container {
        padding: 30px;
        width: 100%;
        text-align: center;
        .icon {
            margin: 10px;
            padding: 20px;
            font-size: x-large;
            transition: transform ease-out 0.1s, background 0.2s;
            &:hover, &:active, &:visited {
                background: rgba(255,255,255,0.05);
                transform: scale(0.9);
	            color: #fff;
            }
            @media only screen and (max-width: 480px) {
                padding: 10px 15px;
                border: 1px white solid;
                border-radius: 10px;
            }
        }
    }
    p {
        @media only screen and (max-width: 480px) {
            font-size: 1.2em;
            padding: 10px 0;       
        }
    }
}
