$color1: #00d1b2;
$color2: #23d160;
$color3: #ffdd57;
$color4: #ff3860;
$color5: dodgerblue;
body {
    margin: 0;
}
.section {
    color: white;
    @media only screen and (min-width: 768px) {
        height: 100vh;
    }
    border: 1px outset white;
    &:nth-of-type(2) {
        background-color: $color5;
    }
    &:nth-of-type(3) {
        background-color: $color1;
    }
}
.vertical-nav {
    position: fixed;
    left: 95%;
    top: 45%;
    @media only screen and (max-width: 480px) {
        display: none;
    }
    .nav-btn {
        width: 6vh;
        height: 6vh;
        cursor: pointer;
        background: url('../images/icon-arrow.svg') no-repeat;
        background-position: center;
        margin: 10px auto;
    }
    .nav-btn:first-of-type {
       transform: rotate(180deg);   
    }
}
.title {
    font-weight: 100;
    line-height: 1.2;
}
#poster {
    background: #000000 url('../images/cyan.jpg') no-repeat center;
    background-size: contain;
    height: 100vh;
}
#about {
    .container .row .map{
        height: 70vh;
        iframe {
            pointer-events: none;
        }
    }
    p {
        font-size: large;
    }
    @media only screen and (min-width: 680px) {
        .desc {
            padding-top: 10%;
        }
    }
    i {
        font-size: medium;
    }
    .desc {
        margin-top: 20px;
        text-align: justify;
    }
}
