@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;
    
    @keyframes animateGlow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
  }
}
$bgcolor: #000000;
body {
    margin: 0;
    height: 100vh;
    background-color: $bgcolor;
}
main {
    margin: 30px auto;
}
.dept {
    margin: 20px auto;
    position: relative;
    img {
        cursor: pointer;
        display: block;
        margin: auto;
        background-color: $bgcolor;
    }
}
#aei {
    &:hover {
        @include backlight(0, 2vw, 2vw, 0.75, #be1cfb, #c160f9, 5s);
    }
}
#ce {
    &:hover {
        @include backlight(0, 2vw, 2vw, 0.75, #4CAF50, #00C853, 5s);
    }
}
#cse {
    &:hover {
        @include backlight(0, 2vw, 2vw, 0.75, #3F51B5, #3F51B5, 5s);
    }
}
#ec {
    &:hover {
        @include backlight(0, 2vw, 2vw, 0.75, #FF9800, #FFD180, 5s);
    }
}
#eee {
    &:hover {
        @include backlight(0, 2vw, 2vw, 0.75, #FFEB3B, #FFFF8D, 5s);
    }
}
#it {
    &:hover {
        @include backlight(0, 2vw, 2vw, 0.75, #F44336, #FF5252, 5s);
    }
}
#mech {
    &:hover {
        @include backlight(0, 2vw, 2vw, 0.75, #03A9F4, #01579B, 5s);
    }
}
#a3k {
    height: 100vh;
}