/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #363558;
  background-color: #000000;
}

h1, h2 {
  font-family: 'Jura', sans-serif;
}

a {
  color: #544173;
  text-decoration: none;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
.overflow-hidden {
  overflow: hidden;
}

/* -------------------------------- 

Header

-------------------------------- */
header {
  margin: 10px 20px;
  height: 170px;
  line-height: 170px;
  text-align: center;
  background: #000000;
  .left {
    float: left;
  }
  h1 {
    display: inline;
    font-size: 2.2rem;
    color: #ffffff;
  }
  img {
    height: 80%;
    display: inline-block;
  }
  .right {
    float: right;
  }
}
@media only screen and (min-width: 600px) {
  header {
    height: 200px;
    line-height: 200px;
  }
  header h1 {
    font-size: 3.2rem;
  }
}

/* -------------------------------- 

Main content

-------------------------------- */
.cd-main {
  overflow-x: hidden;
}
.cd-main::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
.cd-main > * {
  -webkit-transition: -webkit-transform 0.5s 0.4s;
  -moz-transition: -moz-transform 0.5s 0.4s;
  transition: transform 0.5s 0.4s;
}
.cd-main.fold-is-open > * {
  /* on mobile - translate .cd-main content to the right when the .cd-folding-panel is open */
  transform: translateX(100%);
  transition: transform 0.5s 0s;
}
@media only screen and (min-width: 600px) {
  .cd-main.fold-is-open > * {
    transform: translateX(600px);
  }
}
@media only screen and (min-width: 1100px) {
  .cd-main::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-main.fold-is-open > * {
    /* reset style - on bigger devices we translate the gallery items */
    transform: translateX(0);
  }
}

.cd-gallery::after {
  clear: both;
  content: "";
  display: table;
}
.cd-gallery::before {
  /* this is the dark layer covering the .cd-gallery when the .cd-folding-panel is open */
  display: block;
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(28, 23, 38, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s 0.4s, visibility 0s 0.9s;
  -moz-transition: opacity 0.5s 0.4s, visibility 0s 0.9s;
  transition: opacity 0.5s 0.4s, visibility 0s 0.9s;
}
.fold-is-open .cd-gallery::before {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.5s 0s, visibility 0s 0s;
  transition: opacity 0.5s 0s, visibility 0s 0s;
}

.cd-item {
  width: 100%;
  height: 300px;
  text-align: center;
  /* Force Hardware Acceleration */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-blend-mode: overlay;
  transition: transform 0.5s 0.4s;
  background-size: cover;
  background-repeat: no-repeat;
}

.cd-item > a {
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-item > a.dark-text {
  color: #363558;
}
.cd-item > a.dark-text b {
  border-color: #363558;
}
.cd-item div {
  display: table-cell;
  vertical-align: middle;
}
.cd-item {
  background-color: rgba(0,0,0,0.6);
}

.cd-item h2 {
  font-size: 2.2rem;
}
.cd-item p {
  line-height: 1.2;
  font-size: 1.4rem;
  opacity: 0.6;
  padding: 1em 0;
}
.cd-item b {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em 1.3em;
  border-radius: 50em;
  border: 1px solid #ffffff;
}
@media only screen and (min-width: 1100px) {
  .cd-item {
    width: 50%;
    float: left;
    height: 520px;
    -webkit-transition: -webkit-transform 0.5s 0.4s;
    -moz-transition: -moz-transform 0.5s 0.4s;
    transition: transform 0.5s 0.4s;
  }
  .cd-item h2 {
    font-size: 3rem;
  }
  .cd-item p {
    font-size: 1.6rem;
  }
  .cd-item h2, .cd-item p {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: -webkit-transform 0.3s 0.1s;
    -moz-transition: -moz-transform 0.3s 0.1s;
    transition: transform 0.3s 0.1s;
  }
  .cd-item b {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s 0s, transform 0.3s 0s;
  }
  .no-touch .cd-item a:hover h2, .no-touch .cd-item a:hover p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s;
    transition: transform 0.3s 0s;
  }
  .no-touch .cd-item a:hover b {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
  }
  .fold-is-open .cd-item {
    transition: transform 0.5s 0s;
    transform: translateX(-400px);
  }
  .fold-is-open .cd-item:nth-of-type(2n) {
    transform: translateX(400px);
  }
}

/* -------------------------------- 

folding panel

-------------------------------- */
.cd-folding-panel {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  transition: visibility 0s 0.9s;
}
.cd-folding-panel .fold-left,
.cd-folding-panel .fold-right {
  /* the :after elements of .fold-left and .fold-right are the 2 fold sides */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.cd-folding-panel .fold-left::after,
.cd-folding-panel .fold-right::after {
  /* 2 fold sides */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Force Hardware Acceleration */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s 0.4s, background-color 0.5s 0.4s;
}
.cd-folding-panel .fold-right {
  -webkit-perspective-origin: 0% 50%;
  -moz-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.cd-folding-panel .fold-right::after {
  transform-origin: right center;
  transform: translateX(-100%) rotateY(-90deg);
  background-color: #c0c3c3;
}
.cd-folding-panel .fold-left {
  /* on mobile only the right fold side is visible */
  display: none;
}
.cd-folding-panel .fold-left::after {
  background-color: #f9fafa;
}
.cd-folding-panel .cd-close {
  /* 'X' close icon */
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 10px;
  right: 10px;
  height: 44px;
  width: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s 0s;
}
.cd-folding-panel .cd-close::after, .cd-folding-panel .cd-close::before {
  /* lines of 'X' icon */
  content: '';
  position: absolute;
  height: 3px;
  width: 32px;
  left: 50%;
  top: 50%;
  background-color: #544173;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.2s;
}
.cd-folding-panel .cd-close::after {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cd-folding-panel .cd-close::before {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cd-folding-panel.is-open {
  visibility: visible;
  transition: visibility 0s 0s;
}
.cd-folding-panel.is-open .fold-right::after,
.cd-folding-panel.is-open .fold-left::after {
  transform: translateX(0);
  transition: transform 0.5s 0s, background-color 0.5s 0s;
}
.cd-folding-panel.is-open .fold-right::after {
  background-color: #f9fafa;
}
.cd-folding-panel.is-open .cd-close {
  opacity: 1;
  -webkit-transition: opacity 0.2s 0.5s;
  -moz-transition: opacity 0.2s 0.5s;
  transition: opacity 0.2s 0.5s;
}
@media only screen and (min-width: 600px) {
  .cd-folding-panel {
    width: 600px;
  }
}
@media only screen and (min-width: 1100px) {
  .cd-folding-panel {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 800px;
  }
  .cd-folding-panel .fold-left,
  .cd-folding-panel .fold-right {
    width: 50%;
    float: left;
    height: 100%;
  }
  .cd-folding-panel .fold-right {
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    -webkit-perspective-origin: 0% 50%;
    -moz-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
  }
  .cd-folding-panel .fold-right::after {
    transform-origin: right center;
    transform: translateX(-100%) rotateY(-90deg);
  }
  .cd-folding-panel .fold-left {
    display: block;
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    perspective-origin: 100% 50%;
  }
  .cd-folding-panel .fold-left::after {
    transform-origin: left center;
    transform: translateX(100%) rotateY(90deg);
  }
}

.cd-fold-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 4em 2em;
  visibility: hidden;
  transition: visibility 0s 0.4s;
  p {
    margin: 20px 0;
  }
  h1 {
    font-size: 5rem;
    padding: 20px 0 50px 0;
    text-transform: uppercase;
  }
}
.cd-fold-content > * {
  opacity: 0;
  transform: translateY(20px);
}
.cd-fold-content h2 {
  font-size: 2.4rem;
  transition: transform 0.2s 0.2s, opacity 0.2s 0.2s;
}
.cd-fold-content p, .cd-fold-content em {
  line-height: 1.6;
}
.cd-fold-content em {
  display: inline-block;
  margin: 1em 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #7a78ae;
  transition: transform 0.2s 0.1s, opacity 0.2s 0.1s;
}
.cd-fold-content p {
  margin-bottom: 1em;
  font-size: 1.4rem;
  transition: transform 0.2s 0s, opacity 0.2s 0s;
}
.is-open .cd-fold-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: visible;
  transition: visibility 0s 0.5s;
}
.is-open .cd-fold-content > * {
  opacity: 1;
  transform: translateY(0);
}
.is-open .cd-fold-content h2 {
  transition: transform 0.2s 0.5s, opacity 0.2s 0.5s;
}
.is-open .cd-fold-content em {
  transition: transform 0.2s 0.6s, opacity 0.2s 0.6s;
}
.is-open .cd-fold-content p {
  transition: transform 0.2s 0.7s, opacity 0.2s 0.7s;
}
@media only screen and (min-width: 600px) {
  .cd-fold-content h2 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1100px) {
  .cd-fold-content {
    padding: 4em;
  }
  .cd-fold-content > * {
    transform: translateY(40px);
  }
  .cd-fold-content em {
    font-size: 2.2rem;
  }
  .cd-fold-content p {
    font-size: 1.6rem;
  }
}

/* -------------------------------- 

Javascript disabled

-------------------------------- */
.no-js .cd-fold-content.single-page {
  position: static;
  visibility: visible;
  height: auto;
  background-color: #dadcdc;
}
.no-js .cd-fold-content.single-page > * {
  opacity: 1;
  transform: translateY(0);
}
